.nav__link--calendario.active {
  background-color: rgba(204,204,204) !important;
  color: black;
}


.calendario {
  @include flex(column, stretch, flex-start, wrap);
}

@media (min-width: 750px) {
  .calendario {
    @include flex(row, stretch, flex-start, wrap);
  }
}

.card__calendario {
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 767px) {
  .card__calendario {
    width: 46%;
    margin: 1rem;
  }
}

@media (min-width: 1023px) {
  .card__calendario {
    width: 31%;
    margin: 1rem;
  }
}

@media (min-width: 1439px) {
  .card__calendario {
    width: 23%;
    margin: 1rem;
  }
}

.card__header {
  background-color: $color_fondo_calenadrio_header;
}

.card__body {
  background-color: $color_fondo_calenadrio_body;
  padding: 0px;
}

.card-body {
  z-index: 20;  // para que me funcione el boton contacto en las card, posicione adelante
}

.card__fecha {
  background-color: $color_fondo_card_fecha;
  color: $color_card_fecha;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-left: -2rem;
}

.card__titulo {
  border-style: none;
  padding-right: 1rem;
  font-weight: bold;
}

.card__titulo--calendario {
  text-align: right;
}
