.main__banner {
  background-image: url("../img/banner_escalada.jpg");
  background-size: cover;
  height: 450px;
  @include flex (row, left, center, wrap );
  padding-left: 2rem;
  background-position: right;
  
}

.banner__tit {
  color: white;
  font-style: italic;
  font-family: $fuente_tit_banner;
  font-weight: 700; /* negrita */
  text-transform: capitalize;
  //text-decoration: none;
  word-spacing: 1rem;
  filter: drop-shadow(1px 1px 1.3px black);
}

@media (min-width: 426px) {
  .banner__tit {
    color: black;
    filter: drop-shadow(1px 1px 1.3px white);
  }
}

.banner__tit--principal {
  font-size: 3.5rem;
}

.banner__tit--secundario {
  font-size: 1.8rem;
  padding-left: 0rem;
}

@media (min-width: 620px) {
  .banner__tit--principal {
    font-size: 4rem;
  }

  .banner__tit--secundario {
    font-size: 2rem;
  }

  .main__banner {
    padding-left: 1.3rem;
    height: 620px;
  }
}

@media (min-width: 769px) {
  .banner__tit--principal {
    font-size: 5rem;
  }

  .banner__tit--secundario {
    font-size: 3rem;
  }

  .main__banner {
    height: 620px;
  }
}

@media (min-width: 1023px) {
  .banner__tit--principal {
    font-size: 8.2rem;
  }

  .banner__tit--secundario {
    font-size: 4.2rem;
    padding-left: 4rem;
  }

  .main__banner {
    padding-left: 4rem;
    //height: 620px;
  }
}

.link__calendario {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 0 5px;

  &:hover {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
}

.card__tit__calen {
  background-color: $color_fondo_calenadrio_header;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  
  h3 {
    color: black;
  }
}
