.main__login {
  text-align: center;
  padding-bottom: 3rem;

  fieldset {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    border: 0px;
    padding: 2rem;
    width: 80%;
    display: inline-block;
  }

  label {
    display: block;
  }

  input {
    border: none;
    border-radius: 5px;
  }
 
    
  .login__btn{
    background-color: black;
    color: white;
  
    &:hover {
      background-color: white;
      color: black;
    }
  
  }

  a {
    text-decoration: none;
    color: black;
    display: block;
  
    &:hover {
      font-weight: 700;
    }
  }
   

}



@media (min-width: 426px) {
  .main__login {
    fieldset {
      width: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .main__login {
    fieldset {
      width: 40%;
    }
  }
}
