.solapa {
    margin: 2rem;
}

.solapa__titulo {
    text-decoration: underline;
    font-size: 1.8rem;
}

.modal__titulo {
    font-size: 1.8rem;
}

.modal__carousel {
    width: 330px;      
}

.solapa--fotos {
    @include flex(column, center, center, wrap);
    .solapa__carousel {
        width: 500px;
        margin-right: 2rem;        
    }
}

@media (min-width: 750px) {
    .solapa--fotos {
      @include flex(row, center, center, wrap);
    }

    .modal__carousel {
        width: 500px;      
    }
  }


